@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--Very-light-gray);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  height: 500px;
  width: 920px;
  border-radius: 9px;
  display: flex;
}

section .box {
  display: flex;
  justify-content: center;
  width: 100%;
}

section .box .cont {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

section .box .cont .sedans {
  background-color: var(--Bright-orange);
  flex-direction: column;
  justify-content: left;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding: 48px;
}

section .box .cont .suvs {
  background-color: var(--Dark-cyan);
  flex-direction: column;
  justify-content: left;
  padding: 48px;
}

section .box .cont .luxury {
  background-color: var(--Very-dark-cyan);
  flex-direction: column;
  justify-content: left;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 48px;
}

h1 {
  color: var(--Very-light-gray);
  font-family: "Big Shoulders Display", cursive;
  font-size: 32px;
  text-transform: uppercase;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: var(--Transparent-white-p);
  font-size: 15px;
  padding-bottom: 88px;
  line-height: 1.5;
}

button {
  height: 48px;
  width: 148px;
  border-style: none;
  border-radius: 24px;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--Very-light-gray);
  cursor: pointer;
}

.sedan_btn {
  color: var(--Bright-orange);
}
.sedan_btn:hover {
  background-color: var(--Bright-orange);
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
}

.suv_btn {
  color: var(--Dark-cyan);
}
.suv_btn:hover {
  background-color: var(--Dark-cyan);
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
}

.luxury_btn {
  color: var(--Very-dark-cyan);
}
.luxury_btn:hover {
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
}

.attribution {
  position: absolute;
  bottom: 5px;
  font-size: 10px;
  text-align: center;
  color: var(--Very-dark-cyan);
}

.attribution a {
  color: var(--Very-dark-cyan);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 400px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
  }

  section {
    height: auto;
    width: auto;
    position: relative;
    justify-content: center;
  }
  section .box {
    display: flex;
    justify-content: center;
    margin: 60px 20px;
  }

  section .box .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p {
    padding-bottom: 30px;
  }

  section .box .cont .sedans {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 9px;
  }

  section .box .cont .luxury {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 0;
  }

  .attribution {
    display: none;
  }
}
